target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

src/main/resources/bloompath/bloom.obj

src/main/resources/filecachepath/www.quora.com.cursor.txt

src/main/resources/filecachepath/www.quora.com.urls.txt
